{% extends 'base.html.twig' %}

{% block title %}CHAUSSURE{% endblock %}

{% block body %}
<div class="container">
  <div class="row align-items-start ">



      {% for chaussure in chaussures %}

      <div class="col-6">

          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="boxe/article/{{chaussure.imageArticle}}" alt="Card image cap">
              <h2>{{ chaussure.nomArticle }}</h2>
              <br>
              <p><b></b> {{ chaussure.descriptionArticle }}</p>
              <br class="nbr">
              <p><b> marque:</b> {{ chaussure.marqueArticle }}</p>

          </div>
          <div class="col-lg-5 align-self-center">
              <p class="fs-lg-1 fs-3"> <b>Prix :</b> {{ chaussure.prixArticle }}€</p>
              <button type="button" class="btn btn-light" li class="nav-item">
                  <a class="nav-link" href="{{path('app_panier_add',{'id':chaussure.id})}}">commandez</a></button>
          </div>
      </div>
 

{% endfor %}
{% endblock %}
