{% extends 'base.html.twig' %}

{% block title %}CHAUSSURE{% endblock %}

{% block body %}
<div class="container">
  <div class="row text-center">
    <div class="col">
   <h1>LES CHAUSSURES </h1>
    </div>
  </div>
</div>




<div class="container">
    <div class="row align-items-start ">



        {% for chaussure in chaussures %}







<div class="card mb-3 " with="auto">
    <div class="row align-items-center">
      <div class="col-4">
        <img src="boxe/article/{{chaussure.imageArticle}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ chaussure.nomArticle }}</h5>
          <p class="card-text">{{ chaussure.descriptionArticle }}</p>
          <p class="card-text"> marque:{{ chaussure.marqueArticle }}</p>
          <p class="card-text">Prix :{{ chaussure.prixArticle }}€</p>
          <button type="button" class="btn btn-light" li class="nav-item">
                    <a class="nav-link" href="{{path('app_panier_add',{'id':chaussure.id})}}">commandez</a></button>
       </div>
      </div>
    </div>
  </div>
{% endfor %}
    </div>
</div>
{% endblock %}
