{% extends 'base.html.twig' %}

{% block title %}Hello EquipementController!{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>BOXING SHOPPING 1981</h1>

        </div>
    </div>




    <div class="btn-btn" role="group" aria-label="Button group with nested dropdown">
        <a href="{{path('app_index')}}" class="btn btn-light">RETOUR</a>
        <div class="btn-group" role="group">

        </div>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">









                    <h1 class="mb-5"></h1>
                    <div class="row">
                        {% for cat in cats %}
                        <div class="col-lg-6 mb-3 d-flex justify-content-center">
                            <div class="card" style="width: 18rem;">
                                <img src="boxe/{{ cat.imageArticle }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">{{ cat.nomCategorie }}</h2>
                                </div>

                            </div>
                        </div>

                        {% endfor %}




        <h1 class="mb-5"></h1>
        <div class="row">
            {% for cat1 in cats1 %}
            <div class="col-lg-6 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="boxe/{{ cat1.imageArticle }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">{{ cat1.nomCategorie }}</h2>
                    </div>

                </div>
            </div>

            {% endfor %}





<h1 class="mb-5"></h1>
<div class="row">
    {% for cat2 in cats2 %}
    <div class="col-lg-6 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="boxe/{{ cat2.imageArticle }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{ cat2.nomCategorie }}</h2>
            </div>

        </div>
    </div>

    {% endfor %}






</div>
</div>
</div>

{% endblock %}