{% extends 'base.html.twig' %}

{% block title %}SHORT{% endblock %}

{% block body %}


<div class="container text-center">
  <div class="row">

    <div class="my-5 px-5">
      <div id="carouselExample" class="carousel slide mt-4" data-bs-ride="carousel" >
          <div class="carousel-inner">
              {% for short in shorts %}
              <div class="carousel-item active" data-bs-interval="2750">
                  <div class="d-lg-flex">
                      <img class="d-block" src="boxe/article/{{short.imageArticle}}" alt="First slide" width="700">
                      <div class="bg-light-subtle w-100 row mx-1">
                          <div class="col-lg-6 ms-lg-5">
                              <h2>{{ short.nomArticle }}</h2>
                              <br>
                              <p><b></b> {{ short.descriptionArticle }}</p>
                              <br class="nbr">
                              <p><b> marque:</b> {{ short.marqueArticle }}</p>
                             
                          </div>
                          <div class="col-lg-5 align-self-center">
                              <p class="fs-lg-1 fs-3"> <b>Prix :</b> {{ short.prixArticle }}€</p>
                              <button type="button" class="btn btn-light" li class="nav-item">
                                <a class="nav-link" href="{{path('app_carte_add',{'id':short.id})}}">commandez </a></button>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>

{% endblock %}
