{% extends 'base.html.twig' %}

{% block title %}Hello GantController!{% endblock %}

{% block body %}


<div class="container">
    <div class="row align-items-start ">



        {% for gant in gants %}







<div class="card mb-3 " with="auto">
    <div class="row align-items-center">
      <div class="col-4">
        <img src="boxe/article/{{gant.imageArticle}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ gant.nomArticle }}</h5>
          <p class="card-text">{{ gant.descriptionArticle }}</p>
          <p class="card-text"> marque:{{ gant.marqueArticle }}</p>
          <p class="card-text">Prix :{{ gant.prixArticle }}€</p>
          <button type="button" class="btn btn-light" li class="nav-item">
                    <a class="nav-link" href="{{path('app_panier_add',{'id':gant.id})}}">commandez</a></button>
       </div>
      </div>
    </div>
  </div>
{% endfor %}
    </div>
</div>

{% endblock %}